@import "tailwindcss";

@theme {
  --color-body-bg: #020202;
  --color-primary-text: #2c281c;
  --color-secondary-text: #fcfcfc;
}

body {
  font-family: "FavoritBookC", sans-serif;
  background-color: #020202;
  color: #fcfcfc;
  overflow-x: hidden;
}
* {
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
}
/* 
  primary black bg: #0e1414
*/

/* Font Weight	Font Style	Font Family Name Used
300 (Light)	Normal	FavoritLightC
Normal	Normal	FavoritC
Normal	Normal	FavoritBookC
Bold	Normal	FavoritExtraBoldC
Bold	Normal	FavoritC
900 (Heavy)	Normal	FavoritHeavyC

300 (Light)	Italic	FavoritLightC
Normal	Italic	FavoritBookC
Normal	Italic	FavoritC
Bold	Italic	FavoritC
Bold	Italic	FavoritExtraBold
900 (Heavy)	Italic	FavoritHeavyC */
