@import "tailwindcss";

@theme {
  --color-body-bg: #020202;
  --color-primary-text: #2c281c;
  --color-secondary-text: #fcfcfc;
}

body {
  font-family: "FavoritBookC", sans-serif;
  background-color: #020202;
  color: #fcfcfc;
  overflow-x: hidden;
}
* {
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
}

.card {
  transform: rotateY(20deg) rotateX(40deg) rotateZ(-0deg);
  transform-style: preserve-3d;
}

/* 
  primary black bg: #0e1414
*/

/* Font Weight	Font Style	Font Family Name Used
300 (Light)	Normal	FavoritLightC
Normal	Normal	FavoritC
Normal	Normal	FavoritBookC
Bold	Normal	FavoritExtraBoldC
Bold	Normal	FavoritC
900 (Heavy)	Normal	FavoritHeavyC

300 (Light)	Italic	FavoritLightC
Normal	Italic	FavoritBookC
Normal	Italic	FavoritC
Bold	Italic	FavoritC
Bold	Italic	FavoritExtraBold
900 (Heavy)	Italic	FavoritHeavyC */

/* 
 <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="assets/images/favicon.png">
    <title>Demo Code - 3D Card Design with Hover Animation</title>

    <style>
        @import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");


        * {
            margin: 0 auto;
            padding: 0;
            box-sizing: border-box;
        }


        body {
            font-family: Raleway, sans-serif;
            display: flex;
            align-items: center;
            min-height: 100vh;
            background-color: #ddd;
        }


        .card-container {
            perspective: 50em;
        }


        .card-container {
            --bi:  linear-gradient(#555 5em, #0000 3em) , linear-gradient(102deg, #61cedf 0%, #f437f0 100%);
        }


        .card {
            position: relative;
            cursor: pointer;
            width: 320px;
            height: 320px;
            text-align: center;
            padding: 1.2em 2em;
            color: #fff;
            transform: rotateY(30deg) rotateX(15deg);
            transform-style: preserve-3d;
            transition: transform 1s;
        }


        .card p {
            padding-top: 2.5em;
            font-weight: 500;
        }


        .card:hover {
            transform: rotateY(-30deg) rotateX(-15deg);
        }


        .layers {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            z-index: -1;
        }


        .layer {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 1em;
            background-image: var(--bi);
            transform: translateZ(var(--tz));
            box-shadow: 0 0 0.5em #000d inset;
        }


        .layer:nth-child(1) {
            --tz: 0px;
        }


        .layer:nth-child(2) {
            --tz: -4px;
        }


        .layer:nth-child(3) {
            --tz: -8px;
        }


        .layer:nth-child(4) {
            --tz: -12px;
        }


        .layer:nth-child(5) {
            --tz: -16px;
        }


        .layer:nth-child(6) {
            --tz: -20px;
        }


        .layer:nth-child(7) {
            --tz: -24px;
        }


        .layer:nth-child(8) {
            --tz: -28px;
        }


        .layer:nth-child(9) {
            --tz: -32px;
        }


        .layer:nth-child(10) {
            --tz: -36px;
        }


        .layer:last-child {
            box-shadow: 0 0 0.5em #000d inset, 0 0 5px #000;
        }
    </style>
</head>

<body>

    <div class="card-container">
        <div class="card">
            <h1><strong>Demo Code</strong></h1>
            <p>DemoCoding provide free CSS animation, code snippets, free CSS tool, amazing codepen ideas and many more.</p>


            <div class="layers">
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
            </div>
        </div>
    </div>


</body>

</html>
  */
